*,
*::before,
*::after {
    box-sizing: border-box;
}

/* This line is interesting- I set body to have 100% width,
 * but by default this line is height: auto; so my body was
 * not getting the height I wanted.
 */
html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: rgb(227, 225, 225);
    background-color: #ABA1DA;
    margin: 0px;
    padding: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mainSection {
    flex-direction: column;
    display: flex;
    flex: 6;
    align-items: stretch;
}

.background {
    border-radius: 20px;
    background-color: rgb(99, 110, 181);
    min-height: fit-content;
    height: 100%;
    min-height: 540px;
}

.background>.top {
    flex: 1;
    display: flex;
    justify-content: space-around;                                                                                                                                                                                                                      
    align-items: center;
}

.background>.top>img {     
    max-width: 20%;
    height: auto; 
}

.background>.top>.location {
    line-height: 0rem;
}

.background>.top>.location>.city {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.background>.top>.location>.otherLocationDetails {                                                                                     
    font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.background>.top>.currentTemp {
    font-size: clamp(2rem, 5vw, 4rem);
}

.background>.bottom {
    flex: 2;
    display: flex;
}

.futureWeather {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: clamp(10px, 2vw, 30px);
    flex: 5;
}

.futureWeather>h2 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 400;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.futureWeather>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(99, 110, 181);
    flex: 1 0 40px;
}

.futureWeather .date {
    line-height: 0rem;
}

.futureWeather .dayOfTheWeek {
    font-size: clamp(0.8rem, 4vw, 1.3rem);
}

.futureWeather .monthAndDay {
    font-size: clamp(0.8rem, 3vw, 1.1rem);
}

.futureWeather .temps {
    line-height: 0rem;
}

.futureWeather img {
    max-width: 8%;
    height: auto; 
}

@media screen and (max-height: 800px) and (width > 1000px) {
    .futureWeather .monthAndDay {
        display: none;
    }

    .futureWeather .temps p {
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    .futureWeather {
        margin-left: 0px;
        margin-top: 30px;
    }
}